/* * { */
/* font-family: "Public Sans", sans-serif; */
/* font-family: "DM Serif Display", serif; */
/* background-color: tomato; */
/* }  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* background-color: #EDF3F8; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf3f8;
}

.nav-link-list {
  padding-left: 0;
  list-style-type: none;
}

.cta-schedule-a-demo {
  display: none;
  background-color: #ba4270;
  color: #fbfcfe;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
  padding: 16px 24px;
  text-decoration: none;
  border-radius: 28px;
  transition: 0.3s;
}

.cta-schedule-a-demo:hover {
  background-color: #da6d97;
}

.nav-link {
  color: #36536b;
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  transition: 0.2s;
}

.nav-link:hover {
  color: #6c8294;
}

.hero {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-bottom: 80px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.schedule-demo-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-title {
  color: #36536b;
  font-size: 32px;
  font-family: "DM Serif Display", serif;
  text-align: center;
}

.hero-info,
.hero-info a {
  margin-top: 24px;
  color: #6c8294;
  font-family: "Public Sans", sans-serif;
  text-decoration: none;
}

.hero-info a {
  font-weight: 700;
  transition: 0.2s;
}

.email-hero {
  margin-bottom: 16px;
  border: none;
  padding: 16px 0 16px 28px;
  border-radius: 28px;
  background-color: #fbfcfe;
  color: #36536b;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
}

.cta-hero {
  border: none;
  padding: 16px 0 16px 0;
  border-radius: 28px;
  background-color: #ba4270;
  color: #fbfcfe;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
  transition: 0.3s;
}

.cta-hero:hover {
  background-color: #da6d97;
  cursor: pointer;
}

.partners-section {
  background-color: #1b262f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 86px;
}

.partners-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px;
  align-items: center;
}

.partner-logo {
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
}

.partners-information {
  text-align: center;
}

.partners-title {
  color: #fbfcfe;
  font-size: 32px;
  font-family: "DM Serif Display", serif;
  margin-top: 12px;
}

.partners-description {
  margin-top: 16px;
  color: #fbfcfe;
  font-family: "Public Sans", sans-serif;
  opacity: 0.7;
  margin-bottom: 48px;
  line-height: 28px;
}

.cta-about {
  border: 1px solid #fbfcfe;
  border-radius: 28px;
  padding: 16px 32px;
  color: #fbfcfe;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
  text-decoration: none;
  transition: 0.3s;
}

.cta-about:hover {
  background-color: #FFFFFF;
  color: #1B262F;
}

@media screen and (min-width: 768px) {
  .nav-link-list {
    display: flex;
  }

  .cta-schedule-a-demo {
    display: block;
  }

  li {
    margin-right: 40px;
  }

  .menu-burger,
  .close {
    display: none;
  }

  .hero-title {
    font-size: 48px;
  }

  .schedule-demo-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .email-hero {
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 48px;
    width: 40%;
  }

  .cta-hero {
    padding: 16px 24px;
    border-radius: 34px;
    margin-left: -24px;
  }

  .partners-wrapper {
    width: 75%;
  }

  .partners-logos {
    grid-template-columns: repeat(3, 1fr);
  }

  .partners-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .home-link {
    margin-right: 24px;
  }

  header {
    justify-content: unset;
    max-width: 1100px;
  }

  .cta-schedule-a-demo {
    margin-left: auto;
  }

  .hero {
    flex-direction: row-reverse;
    max-width: 1100px;
    margin-top: 74px;
  }

  .hero-img {
    margin: auto;
  }

  .hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-title {
    text-align: left;
  }

  .hero-info {
    margin-left: 28px;
  }

  .schedule-demo-form {
    justify-content: left;
  }

  .email-hero {
    width: 80%;
  }

  .partners-wrapper {
    flex-direction: row-reverse;
  }

  .partners-logos {
    width: 50%;
    
  }

  .partners-information {
    text-align: left;
    width: 50%;
    margin-right: 128px;
  }
}
