/* * { */
/* font-family: "Public Sans", sans-serif; */
/* font-family: "DM Serif Display", serif; */
/* background-color: tomato; */
/* }  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* background-color: #EDF3F8; */
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf3f8;
}

.nav-link-list {
  padding-left: 0;
  list-style-type: none;
}

.cta-schedule-a-demo {
  display: none;
  background-color: #ba4270;
  color: #fbfcfe;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
  padding: 16px 24px;
  text-decoration: none;
  border-radius: 28px;
  transition: 0.3s;
}

.cta-schedule-a-demo:hover {
  background-color: #da6d97;
}

.nav-link {
  color: #36536b;
  opacity: 0.7;
  text-decoration: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  transition: 0.2s;
}

.nav-link:hover {
  opacity: 1;
}

.hero {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-bottom: 80px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.schedule-demo-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-title {
  color: #36536b;
  font-size: 32px;
  font-family: "DM Serif Display", serif;
  text-align: center;
}

.hero-info,
.hero-info a {
  margin-top: 24px;
  color: #6c8294;
  font-family: "Public Sans", sans-serif;
  text-decoration: none;
}

.hero-info a {
  font-weight: 700;
  transition: 0.2s;
}

.email-hero {
  margin-bottom: 16px;
  border: none;
  padding: 16px 0 16px 28px;
  border-radius: 28px;
  background-color: #fbfcfe;
  color: #36536b;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
}

.email-hero:focus {
  outline: 2px solid #36536b;
}

.cta-hero {
  border: none;
  padding: 16px 0 16px 0;
  border-radius: 28px;
  background-color: #ba4270;
  color: #fbfcfe;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
  transition: 0.3s;
}

.cta-hero:hover {
  background-color: #da6d97;
  cursor: pointer;
}

.partners-section {
  background-color: #1b262f;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 86px;
}

.partners-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 44px;
  align-items: center;
  margin-bottom: 44px;
}

.partner-logo {
  margin-left: auto;
  margin-right: auto;
}

.partners-information {
  text-align: center;
}

.partners-title {
  color: #fbfcfe;
  font-size: 32px;
  font-family: "DM Serif Display", serif;
  margin-top: 12px;
}

.partners-description {
  margin-top: 16px;
  color: #fbfcfe;
  font-family: "Public Sans", sans-serif;
  opacity: 0.7;
  margin-bottom: 48px;
  line-height: 28px;
}

.cta-about {
  border: 1px solid #fbfcfe;
  border-radius: 28px;
  padding: 16px 32px;
  color: #fbfcfe;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
  text-decoration: none;
  transition: 0.3s;
}

.cta-about:hover {
  background-color: #ffffff;
  color: #1b262f;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#feature-alignment-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.feature-img {
  margin-top: 80px;
}

.simple-ui-img {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.feature-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-title {
  color: #36536b;
  font-size: 36px;
  font-family: "DM Serif Display", serif;
  margin-top: 48px;
  margin-bottom: 24px;
}

.feature-description {
  color: #6c8294;
  font-family: "Public Sans", sans-serif;
  line-height: 28px;
}

.advantages-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.advantages-list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

.advantage-list-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantage-logo {
  margin-bottom: 32px;
}

.advantage-title {
  font-size: 18px;
  font-weight: 700;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  margin-bottom: 16px;
}

.advantage-description {
  color: #6c8294;
  font-family: "Public Sans", sans-serif;
  margin-bottom: 48px;
}

#last-advantage-description {
  margin-bottom: unset;
}

.demo-request-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 52px;
  text-align: center;
}

.demo-request-title {
  color: #36536b;
  font-size: 32px;
  font-family: "DM Serif Display", serif;
}

.bottom-demo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.email-form {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 16px;
  border: none;
  padding: 16px 0 16px 28px;
  border-radius: 28px;
  background-color: #fbfcfe;
  font-size: 16px;
  color: #36536b;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
}

.email-form:focus {
  outline: 2px solid #36536b;
}

.bottom-demo-cta {
  border: none;
  width: 100%;
  padding: 16px 26px 16px 26px;
  border-radius: 28px;
  background-color: #ba4270;
  font-size: 16px;
  color: #fbfcfe;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
  transition: 0.3s;
}

.bottom-demo-cta:hover {
  background-color: #da6d97;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #1B262F;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 56px;
  text-align: center;
}

.footer-page-links-list,
.footer-social-links-list {
  list-style-type: none;
  padding-left: 0;
}

.footer-social-links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-page-link-list-element {
  margin-bottom: 32px;
}

#last-footer-page-link {
  margin-bottom: 40px;
}

.footer-page-link {
  color: #FBFCFE;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.7;
  font-family: "Public Sans", sans-serif;
  transition: 0.3s;
}

.footer-page-link:hover {
  opacity: 1;
}

#middle-footer-social-link-list-element {
  margin-left: 24px;
  margin-right: 24px;
}

.footer-social-link svg {
  fill: tomato;
  transition: .4s;
}

.footer-social-link svg:hover {
  fill: teal;
}

@media screen and (min-width: 768px) {
  .nav-link-list {
    display: flex;
  }

  .cta-schedule-a-demo {
    display: block;
  }

  .nav-link-list-element {
    margin-right: 40px;
  }

  .menu-burger,
  .close {
    display: none;
  }

  .hero-title {
    font-size: 48px;
  }

  .schedule-demo-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .email-hero {
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 48px;
    width: 40%;
  }

  .cta-hero {
    padding: 16px 24px;
    border-radius: 34px;
    margin-left: -24px;
  }

  .partners-wrapper {
    width: 75%;
  }

  .partners-logos {
    grid-template-columns: repeat(3, 1fr);
  }

  .partners-title {
    font-size: 48px;
  }

  .feature-title {
    font-size: 48px;
  }

  .features-section {
    width: 75%;
  }

  .feature-img {
    margin-top: 160px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
  }

  .advantage-list-element {
    width: 33%;
  }

  #middle-advantage-list-element {
    margin-left: 12px;
    margin-right: 12px;
  }

  .demo-request-title {
    font-size: 48px;
    margin-bottom: 56px;
  }

  .bottom-demo-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .email-form {
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 48px;
    width: 50%;
  }

  .bottom-demo-cta {
    width: unset;
    padding: 16px 24px;
    border-radius: 34px;
    margin-left: -24px;
  }
}

@media screen and (min-width: 1024px) {
  .home-link {
    margin-right: 24px;
  }

  header {
    justify-content: unset;
    max-width: 1100px;
  }

  .cta-schedule-a-demo {
    margin-left: auto;
  }

  .hero {
    flex-direction: row-reverse;
    max-width: 1100px;
    margin-top: 74px;
  }

  .hero-img {
    margin: auto;
  }

  .hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-title {
    text-align: left;
  }

  .hero-info {
    margin-left: 28px;
  }

  .schedule-demo-form {
    justify-content: left;
  }

  .email-hero {
    width: 80%;
  }

  .partners-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .partners-wrapper {
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1100px;
  }

  .partners-logos {
    width: 50%;
    margin-bottom: unset;
  }

  .partners-information {
    text-align: left;
    width: 50%;
    margin-right: 128px;
  }

  .features-section {
    width: 100%;
    max-width: 1100px;
  }

  #feature-alignment-top {
    flex-direction: row;
  }

  #feature-alignment-bottom {
    display: flex;
    flex-direction: row-reverse;
  }

  .feature-article {
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
  }

  #img-easy {
    margin-right: 124px;
    width: 50%;
  }

  .simple-ui-img {
    gap: 40px;
    width: 50%;
  }

  .simple-ui-img img {
    width: 100%;
  }

  #simple-article {
    margin-right: 96px;
  }

  .advantages-section {
    width: 75%;
    max-width: 1100px;
    margin-top: 144px;
  }

  .advantage-description {
    margin-bottom: 0;
  }

  #middle-advantage-list-element {
    margin-left: 32px;
    margin-right: 32px;
  }

  .demo-request-section {
    flex-direction: row;
    text-align: left;
    width: 75%;
    max-width: 1100px;
    justify-content: space-between;
    margin-top: 96px;
  }

  .demo-request-title {
    width: 50%;
    margin: 0;
  }

  .bottom-demo-form {
    width: 50%;
    justify-content: right;
  }

  .email-form {
    width: 60%;
  }
}
