/* * { */
/* font-family: "Public Sans", sans-serif; */
/* font-family: "DM Serif Display", serif; */
/* background-color: tomato; */
/* }  */

.pricing-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pricing-sub-section-wraper {
  display: flex;
  flex-direction: column;
}

.pricing-section-title {
  font-size: 32px;
  color: #36536b;
  font-family: "DM Serif Display", serif;
  margin-top: 48px;
  margin-bottom: 0;
}

.pricing-sub-section {
  width: 100%;
  margin-top: 48px;
}

.plan-title {
  font-size: 24px;
  color: #ba4270;
  font-family: "DM Serif Display", serif;
  margin-bottom: 12px;
}

.plan-description {
  color: #6c8294;
  font-family: "Public Sans", sans-serif;
  line-height: 28px;
  margin-bottom: 20px;
}

.plan-price {
  font-size: 56px;
  color: #36536b;
  font-family: "DM Serif Display", serif;
}

.plan-separator {
  height: 1px;
  background-color: #36536b;
  border: none;
  opacity: 0.25;
  margin-top: 24px;
  margin-bottom: 24px;
}

.plan-second-separator {
  margin-bottom: 40px;
}

.plan-list-wrapper {
  display: flex;
  justify-content: center;
}

.plan-list {
  padding: 0;
  list-style-type: none;
}

.plan-list-element {
  text-align: left;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  opacity: 0.5;
  margin-bottom: 8px;
}

.plan-list-last-element {
  margin-bottom: 0;
}

.plan-list-active-element {
  list-style-image: url(../assets/shared/desktop/icon-check.svg);
  opacity: 1;
}

.plan-cta {
  color: #36536b;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
  border: 1px solid #36536b;
  padding: 16px 28px;
  border-radius: 28px;
  text-decoration: none;
  margin-top: 24px;
  transition: 0.3s;
}

.plan-cta:hover {
  background-color: #36536b;
  color: #fbfcfe;
}

@media screen and (min-width: 768px) {
  .pricing-sub-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pricing-sub-section {
    width: 32%;
  }

  .pricing-section-title {
    font-size: 48px;
    margin-top: 76px;
  }

  .pricing-sub-section {
    margin-top: 72px;
  }

  .demo-request-section {
    margin-top: 116x;
  }
}

@media screen and (min-width: 1024px) {
  .pricing-section {
    text-align: left;
    width: 75%;
    max-width: 1100px;
  }

  .plan-list-wrapper {
    justify-content: left;
  }

  .plan-list {
    padding-left: 20px;
  }

  .demo-request-section {
    margin-top: 112px;
    margin-bottom: 96px;
  }
}
