@media screen and (max-width: 767px) {
  /* Sidenav menu */
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: #1B262F;
    padding-top: 60px;
    transition: right 0.5s ease;
  }

  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    display: block;
    color: #FBFCFE;
    opacity: 0.7;
    transition: 0.3s;
  }

  /* Active class */
  .sidenav.active {
    right: 0;
  }

  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 40px;
    right: 25px;
  }
}

@media screen and (min-width: 768px) {
  #middle-nav-link {
    margin-left: 40px;
    margin-right: 40px;
  }
}
